<h1>New addition</h1>

<form action="wizard_add">
  <label for="add1">Add this:</label>
  <input id="add1" name="first_num">
  <label for="add2">to this:</label>
  <input id="add2" name="second_num">

<button>Add!</button>
</form>
