<h1>New multiplication</h1>

<form action="wizard_multiply">
  <label for="multiply1">Multiply this:</label>
  <input id="multiply1" name="first_num">
  <label for="multiply2">by this:</label>
  <input id="multiply2" name="second_num">

<button>Multiply!</button>
</form>
