<h1>New subtraction</h1>

<form action="wizard_subtract">
  <label for="subtract1">Subtract this:</label>
  <input id="subtract1" name="first_num">
  <label for="subtract2">from this:</label>
  <input id="subtract2" name="second_num">

<button>Subtract!</button>
</form>
