<h1>Subtraction</h1>

<dl>
  <dt>First number
    <dd>
     <%= @first_num %>
    </dd>
  </dt>

  <dt>Second number
    <dd>
     <%= @second_num %>
    </dd>
  </dt>

  <dt>Result
    <dd>
     <%= @result %>
    </dd>
  </dt>

</dl>

<a href="/subtract">Do another subtraction</a>
